textarea.paragraph.editor {
  border: 0px;
}
textarea.paragraph.editor,
span.paragraph.content {
  display: block;
  font-size: 1.3em;
  line-height: 1.6em;
  min-height: 1.6em;
  padding: 0px;
  margin: 10px 0;
  overflow-wrap: break-word;
}
li span.paragraph.content {
  font-size: inherit;
}
