@import url(//fonts.googleapis.com/earlyaccess/cwtexming.css);

@font-face {
  font-family: xpost;
  src:
    local(Georgia),
    local(Times),
    local("Times New Roman"),
    local("Hiragino Kaku Gothic Pro"),
    local("Meiryo");
}

.web-font {
  font-family: xpost, serif, 'cwTeXMing' !important;
}

.app-content {
  background-color: #efefef;
}

body {
  background-color: #A1B5C2;
}
