@import url(//fonts.googleapis.com/earlyaccess/cwtexming.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

.web-font {
  font-family: 'Open Sans', 'cwTeXMing', serif !important;
}

.app-content {
  background-color: #efefef;
}

body {
  background-color: #A1B5C2;
}
