textarea.header-level-1.editor,
textarea.header-level-2.editor,
textarea.header-level-3.editor,
textarea.header-level-4.editor,
textarea.header-level-5.editor,
textarea.header-level-6.editor {
  border: 0px;
}

textarea.header-level-1.editor,
textarea.header-level-2.editor,
textarea.header-level-3.editor,
textarea.header-level-4.editor,
textarea.header-level-5.editor,
textarea.header-level-6.editor,
.header-level-1.content,
.header-level-2.content,
.header-level-3.content,
.header-level-4.content,
.header-level-5.content,
.header-level-6.content {
  padding: 0px;
  margin: 10px 0;
  line-height: 1.875em;
  min-height: 1.875em;
  overflow-wrap: break-word;
  font-weight: bold;
}

textarea.header-level-1.editor,
textarea.header-level-1.editor:focus,
.header-level-1.content {
  font-size: 2em;
  margin: 1.5em 0 1em 0;
  border-radius: 0;
  border-bottom: 1px solid #d7d7d7;
}

textarea.header-level-2.editor,
textarea.header-level-2.editor:focus,
.header-level-2.content {
  font-size: 1.5em;
  margin: 1.5em 0 0.5em 0;
  border-radius: 0;
}

textarea.header-level-3.editor,
textarea.header-level-3.editor:focus,
.header-level-3.content {
  font-size: 1.17em;
  margin: 1.5em 0 0.25em 0;
  border-radius: 0;
}
