$text-font-size: 1.3em;

textarea.markdown.editor {
  border: 0px;
  font-family: Consolas !important;
  font-size: 1.215em;
  line-height: 1.75em;
  min-height: 1.75em;
  padding: 0px;
  margin: 10px 0;
  overflow-wrap: break-word;
}

.markdown.content {
  li {
    font-size: $text-font-size;
    line-height: 1.6em;
    min-height: 1.6em;
    margin: 10px 0;

    li {
      font-size: inherit;
    }
  }

  /* inline code */
  code {
    background-color: #ffffe0;
    border: 1px solid orange;
    border-radius: 3px;
    padding: 1px 2px;
    margin: 0 2px;
    font-family: inherit;
  }

  /* block math & inline math */
  .katex {
    font-size: inherit;
  }

  /* block math */
  .katex-display .katex {
    margin: 10px 0;
    font-size: $text-font-size;
  }

  /* Avoid being override by han.css */
  .katex * {
    font-family: KaTeX_Math !important;
  }
}
