textarea.markdown.editor {
  border: 0px;
  font-family: Consolas !important;
}
textarea.markdown.editor,
p.markdown.content {
  font-size: 20px;
  line-height: 1.875em;
  min-height: 1.875em;
  padding: 0px;
  margin: 10px 0;
  overflow-wrap: break-word;
}
