textarea.markdown.editor {
  border: 0px;
  font-family: Consolas !important;
  font-size: 1.215em;
  line-height: 1.75em;
  min-height: 1.75em;
  padding: 0px;
  margin: 10px 0;
  overflow-wrap: break-word;
}
.markdown.content li {
  font-size: 1.3em;
  line-height: 1.6em;
  min-height: 1.6em;
}
.markdown.content li li {
  font-size: inherit;
}
.markdown.content code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
  font-family: Consolas;
}
