/* blocklist */
.blocklist {
  background-color: #efefef;
  box-shadow: 0px 0px 30px 5px #dfdfdf;

  /* block */
  .block-container {
    position: relative;
    margin: 0.1px 0;
    padding: 0.1px 15px;
    background-color: #fff;

    &:hover {
      box-shadow: 0px 0px 10px 2px #dfdfdf;
      z-index: 99;
    }

    &.dragging {
      box-shadow: 0px 0px 15px 3px #bbb;
    }

    /* block toolbar */
    .toolbar {
      display: none;
      position: absolute;
      top: 0px;
      right: 100%;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;

      .handle {
        cursor: move !important;
      }
    }

    &:hover .toolbar {
      display: block;
    }

    /* block handle */
    .handle {
      position: absolute;
      top: 0px;
      left: 100%;
      height: 100%;
      display:flex;
      align-items: center;
      padding: 0 10px 0 5px;
      color: #ccc;
      cursor: all-scroll;
    }

    /* props toolbar */
    .props-toolbar {
      visibility: hidden;
      position: absolute;
      left: 0px;
      bottom: 100%;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;

      .props-toolbar-container {
        background-color: #fff;
        /* below are cpoied from .ui.compact.menu */
        display: inline-flex;
        margin: 0;
      }
    }

    &:hover .props-toolbar {
      visibility: visible;
    }
  }
}
