.post.form {
  input[name="slug"],
  input[name="slug"]:focus {
    font-family: xpost, serif, 'cwTeXMing' !important;
  }

  input[name="title"],
  input[name="title"]:focus {
    background-color: inherit;
    padding: 0px;
    border: 0px;
    margin-top: 25px;
    font-size: 1.75em;
    font-family: xpost, serif, 'cwTeXMing' !important;
  }

  input[name="subtitle"],
  input[name="subtitle"]:focus {
    background-color: inherit;
    padding: 0px;
    margin-bottom: 25px;
    border: 0px;
    font-size: 1.55em;
    font-family: xpost, serif, 'cwTeXMing' !important;
  }

  .header-wrapper {
    position: relative;
    min-height: 150px;

    .image {
      max-width: 1127px;
    }

    .overlay {
      position: absolute;
      left: 0px;
      right: 0px;

      &.top {
        top: 0px;
      }

      &.bottom {
        bottom: 0px;
      }
    }
  }
}
